{{>/shared/_header}}
<div id="main">
    <div class="" id="CONTAINER_ID"></div>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('3dd385a5b5fdd93bc717ff97179e6e14');

        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());

        Kakao.Auth.createLoginButton({
            container: '#CONTAINER_ID',
            success: function(response) {
                console.log(response);
            },
            fail: function(error) {
                console.log(error);
            },
        });

        // Kakao.Auth.authorize({
        //     redirectUri: 'https://developers.kakao.com/kakaoLogin.jsp'
        // });
    </script>
</div>
{{>/shared/_footer}}